In [1]:
import pandas as pd
from pandas import DataFrame

In [2]:
data_json = ('/Users/jr/Desktop/purchase_data.json')

In [3]:
data_df = pd.read_json(data_json)

In [4]:
data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
#Finding player count
player_count = len(data_df["SN"].value_counts())
pd.DataFrame([player_count], columns = ["Total Players"])

   Total Players
0            573

In [25]:
#Purchasing Analysis
#Finding number of unique items
unique_items = data_df['Item ID'].nunique()

#Finding average purchase price
average_price = (data_df['Price'].sum() / data_df['Price'].count()).round(2)

#Total number of purchases
total_purchases = data_df['Price'].count()

#Total revenue
total_revenue = data_df['Price'].sum()


total_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                        "Average Purchase Price": [average_price],
                        "Number of Purchases": [total_purchases],
                        "Total Revenue": [total_revenue]},
                        columns = ["Number of Unique Items", "Average Purchase Price", "Number of Purchases", "Total Revenue"])

total_df.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:.2f}"})